#!/bin/sh
# SPDX-FileCopyrightText: 2022 Wilfred Nicoll <xyzroller@rollyourown.xyz>
# SPDX-License-Identifier: GPL-3.0-or-later

echo -n "DNS setup started"

sudo lxc network list

sudo resolvectl dns {{ host_id }} '{{ lxd_host_network_part }}.1'
sudo resolvectl domain {{ host_id }} '~{{ host_id }}'

echo "DNS setup completed"
