#!/bin/sh
echo -n "DNS setup started"

sudo lxc network list

sudo resolvectl dns {{ host_id }} '{{ lxd_host_network_part }}.1'
sudo resolvectl domain {{ host_id }} '~{{ host_id }}'

echo "DNS setup completed"
