#!/bin/sh
echo -n "DNS setup started"

sudo lxc network list

sudo resolvectl dns lxd-{{ project_name }} '{{ lxd_project_network_part }}.1'
sudo resolvectl domain lxd-{{ project_name }} '~lxd-{{ project_name }}'

echo "DNS setup completed"
