#!/bin/sh
# SPDX-FileCopyrightText: 2022 Wilfred Nicoll <xyzroller@rollyourown.xyz>
# SPDX-License-Identifier: GPL-3.0-or-later

echo -n "DNS setup started"

/usr/bin/systemd-resolve --interface {{ host_id }} --revert

echo "DNS setup completed"
