# Daemon settings
config:
  core.https_address: {{ wireguard_address_network_part }}.2:8443
  core.trust_password: {{ lxd_core_trust_password }}
  images.auto_update_interval: 6

# Storage pools
storage_pools:
- name: lxd
  description: ""
  driver: zfs
  config:     
    size: {{ lxd_storage_pool_size }}
    source: /var/snap/lxd/common/lxd/disks/lxd.img
    zfs.pool_name: lxd

# Network devices
networks:
- name: lxdbr0
  description: ""
  type: bridge
  managed: true
  config:
    ipv4.address: '{{ lxd_br0_network_part }}.1/24'
    ipv4.dhcp.expiry: 5m
    ipv4.nat: "true"
    ipv6.address: none
    dns.mode: managed
    dns.domain: lxd
- name: lxd-dmz
  description: "DMZ Network"
  type: bridge
  managed: true
  config:
    ipv4.address: '{{ lxd_dmz_network_part }}.1/24'
    ipv4.dhcp.ranges: '{{ lxd_dmz_network_part }}.100-{{ lxd_dmz_network_part }}.254'
    ipv4.dhcp.expiry: 5m
    ipv4.nat: "false"
    ipv6.address: none
    dns.mode: managed
    dns.domain: lxd-dmz
- name: lxd-fe
  description: "Frontend Network"
  type: bridge
  managed: true
  config:
    ipv4.address: '{{ lxd_frontend_network_part }}.1/24'
    ipv4.dhcp.ranges: '{{ lxd_frontend_network_part }}.100-{{ lxd_frontend_network_part }}.254'
    ipv4.dhcp.expiry: 5m
    ipv4.nat: "false"
    ipv6.address: none
    dns.mode: managed
    dns.domain: lxd-fe
- name: lxd-be
  description: "Backend Network"
  type: bridge
  managed: true
  config:
    ipv4.address: '{{ lxd_backend_network_part }}.1/24'
    ipv4.dhcp.ranges: '{{ lxd_backend_network_part }}.100-{{ lxd_backend_network_part }}.254'
    ipv4.dhcp.expiry: 5m
    ipv4.nat: "false"
    ipv6.address: none
    dns.mode: managed
    dns.domain: lxd-be

# Profiles
profiles:
- name: default
  description: Default LXD profile
  devices:
    eth0:
      name: eth0
      network: lxdbr0
      type: nic
    root:
      path: /
      pool: lxd
      type: disk
