#!/bin/sh
# SPDX-FileCopyrightText: 2022 Wilfred Nicoll <xyzroller@rollyourown.xyz>
# SPDX-License-Identifier: GPL-3.0-or-later

IPT="/sbin/iptables"

echo -n "Loading iptables rules..."

# By default, drop everything except outgoing traffic
$IPT -P INPUT DROP
$IPT -P FORWARD DROP
$IPT -P OUTPUT ACCEPT


## General rules
## --------------

# Allow incoming and outgoing for loopback interfaces
$IPT -A INPUT -i lo -j ACCEPT
$IPT -A OUTPUT -o lo -j ACCEPT

# ICMP rule
$IPT -A INPUT -p icmp -m icmp --icmp-type 8 -j ACCEPT

# Allow established connections:
$IPT -A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

# Allow SSH on custom TCP port
$IPT -A INPUT -p tcp -m tcp --dport {{ host_new_ssh_port }} -j ACCEPT

# Allow Wireguard on defined UDP port
$IPT -A INPUT -p udp -m udp --dport {{ host_wireguard_port }} -j ACCEPT

# Allow LXD remote connections on wireguard network
$IPT -A INPUT -p tcp -m tcp --dport 8443 -s {{ wireguard_address_network_part }}.0/24 -d {{ wireguard_address_network_part }}.2/32 -j ACCEPT


## Map DNS port 53 to Consul listening port
###########################################

$IPT -t nat -A OUTPUT -d localhost -p udp -m udp --dport 53 -j REDIRECT --to-ports 8600
$IPT -t nat -A OUTPUT -d localhost -p tcp -m tcp --dport 53 -j REDIRECT --to-ports 8600


## Consul Ports
###############

# Allow Consul Server RPC on TCP Port 8300 from control-node consul server and from LXD host network
$IPT -A INPUT -p tcp -m tcp -s {{ veth0_network_part }}.1/32 --dport 8300 -j ACCEPT
$IPT -A INPUT -p tcp -m tcp -s {{ lxd_host_network_part }}.0/24 --dport 8300 -j ACCEPT

# Allow Consul LAN Serf on TCP and UDP Ports 8301 on LXD host network
$IPT -A INPUT -p udp -m udp -s {{ lxd_host_network_part }}.0/24 --dport 8301 -j ACCEPT
$IPT -A INPUT -p tcp -m tcp -s {{ lxd_host_network_part }}.0/24 --dport 8301 -j ACCEPT

# Allow Consul WAN Serf on TCP and UDP Ports 8302 from control-node consul server and from LXD host network
$IPT -A INPUT -p udp -m udp -s {{ veth0_network_part }}.1/24 --dport 8302 -j ACCEPT
$IPT -A INPUT -p tcp -m tcp -s {{ veth0_network_part }}.1/24 --dport 8302 -j ACCEPT
$IPT -A INPUT -p udp -m udp -s {{ lxd_host_network_part }}.0/24 --dport 8302 -j ACCEPT
$IPT -A INPUT -p tcp -m tcp -s {{ lxd_host_network_part }}.0/24 --dport 8302 -j ACCEPT

# Allow Consul HTTP API on TCP Port 8500 from control-node consul server, on wireguard network and LXD host network
$IPT -A INPUT -p tcp -m tcp -s {{ veth0_network_part }}.1/32 --dport 8500 -j ACCEPT
$IPT -A INPUT -p tcp -m tcp -s {{ wireguard_address_network_part }}.0/24 --dport 8500 -j ACCEPT
$IPT -A INPUT -p tcp -m tcp -s {{ lxd_host_network_part }}.0/24 --dport 8500 -j ACCEPT

# Allow Consul DNS server on TCP and UDP Ports 8600 on LXD host network
$IPT -A INPUT -p udp -m udp -s {{ lxd_host_network_part }}.0/24 --dport 8600 -j ACCEPT
$IPT -A INPUT -p tcp -m tcp -s {{ lxd_host_network_part }}.0/24 --dport 8600 -j ACCEPT



## Rules for LXD networks
## --------------------------------------------------------------------------------------------------------
# Note: this provides NAT **to the internet** for LXD containers in LXD host network
# without using ipv4.nat=true on the LXD network definition (which would also NAT **between** LXD networks)
## --------------------------------------------------------------------------------------------------------

# NATting for internet traffic from {{ host_id }} network
$IPT -t nat -A POSTROUTING -s {{ lxd_host_network_part }}.0/24 -o eth+ -j MASQUERADE
$IPT -t nat -A POSTROUTING -s {{ lxd_host_network_part }}.0/24 -o en+ -j MASQUERADE

echo "rules loaded."
