# This file describes the network interfaces available on your system
# For more information, see netplan(5).
network:
    version: 2
    renderer: networkd
    ethernets:
        veth0:
            dhcp4: no
            dhcp6: no
            accept-ra: no
            addresses:
            - {{ host_veth0_ipaddress }}/32
            match:
                macaddress: {{ host_veth0_macaddress }}
