[Unit]
Description=LXD host DNS service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/lxd-dns-settings-start.sh
RemainAfterExit=true
ExecStop=/usr/local/bin/lxd-dns-settings-stop.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
