# SPDX-FileCopyrightText: 2022 Wilfred Nicoll <xyzroller@rollyourown.xyz>
# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description="Consul service"
Requires=network-online.target
BindsTo=sys-devices-virtual-net-{{ host_id}}.device snap.lxd.daemon.service
After=network-online.target sys-devices-virtual-net-{{ host_id}}.device sys-devices-virtual-net-build.device snap.lxd.daemon.service
ConditionFileNotEmpty=/etc/consul.d/consul.hcl

[Service]
Type=exec
User=root
Group=root
ExecStart=/usr/bin/consul agent -config-dir=/etc/consul.d/
ExecReload=/bin/kill --signal HUP $MAINPID
ExecStop=/usr/bin/consul leave
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target